* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.top {
    display: flex;
    height: 80%;
}

#map {
    width: 20%;
    min-width: 600px;
    height: 100%;

}

.data {
    width: 80%;
    min-width: 600px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.types {
    background-color: rgb(102, 110, 107);
    min-height: 20%;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.range2{
margin: 20px;
}

